@import "tailwindcss";
@plugin "../app/hero.ts";


@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #3b82f6;
  --color-secondary: #6b7280;
  --color-accent: #f59e42;
  --color-success: #219c4e;
  --color-warning: #d9b62a;
  --color-error: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
